{% extends 'shop/basic.html' %}

{% block title %} {{products.product_name}} {% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
        <div class="row">
            <img src="/media/{{products.image}}" width="200px" height="300px">
        </div>

        <div class="row">
            <button class="btn btn-primary  my-3">Buy Now</button>
            <button class="btn btn-primary my-2">Add To Cart </button>
        </div>

    </div>

    <div class="col-md-8">
        <h4>{{products.product_name}}</h4>
        <p>Descripton:{{products.desc}}</p>
        <p><b> Rs.</b>{{products.price}}</p>

    </div>
</div>
</div>


{% endblock %}


{% block js %}
<script>
    console.log("Hello");

    if(localStorage.getItem('cart') == null){
    var cart = {};
    }
    else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById("cart").innerHTML = Object.keys(cart).length;
    }

    $('.cart').click(function(){
        console.log("clicked");
        var idstr = this.id.toString();
        console.log(idstr);

        if(cart[idstr] != undefined){
        cart[idstr] = cart[idstr] + 1;
         }
         else{
         cart[idstr] = 1;
         }
         console.log(cart);
         localStorage.setItem('cart',JSON.stringify(cart))

         document.getElementById("cart").innerHTML = Object.keys(cart).length;

    });
$('#popcart').popover('show');

<!--document.getElementByID('popcart').setAttribute('data-content','<h5>cart</h5>');-->

</script>
{% endblock %}
