{% extends 'shop/basic.html' %}


{% block title %} tracker {% endblock %}
{% block body %}

<div class="container">
    <div class="col">
<!--    <h2></h2>-->

    <div class="col my-3">
        <h2>Enter your order id & email address to track your order</h2>
          <div>

        <ul class="list-group" id="items">
        </ul>
        </div>
    </div>
        <form class="row g-3" method="post" action="#" id="trackerForm">{% csrf_token %}
  <div class="col-md-6">
    <label for="orderId" class="form-label">order id</label>
    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Enter Your Name">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Track Order</button>
  </div>

        <div class="col my-4">
            <h2>Your Order Status</h2>
            <div class="my-4">
                <ul class="list-group" id="item1">{{response}}</ul>
            </div>
        </div>
</form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

$('#trackerForm').submit(function(event){

$('#item').empty()
var formData = {
'orderId': $('input[name==orderId]').val(),
'email': $('input[name==email]').val(),
'csrfmiddlewaretoken': $('input[nam==csrfmiddlewaretoken]').val()
}

    $.ajax({
    type: 'POST',
    url: '/shop/tracker/',
    data: formData,
<!--    encode: true-->
    })
    .done(function(data){
     console.log(data)
     updates = JSON.parse(data);

     if(updates.length > 0 & updates != {}){

     for (i=0; i<updates.length; i++){
     let text = updates[i]['text'];
     let time = updates[i]['date'];
     mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${text} <span class="badge badge-primary badge-pill">${time}
                </span>
             </li>`
<!--      console.log(mystr);-->
     $('#item1').append(mystr);
     }
}
else{
     $('#item1').append(mystr);
      mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                Error

             </li>`
}

    });
    event.preventDefault();

})


</script>

{% endblock %}

